[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/flightlogteam/api-gateway
[submodule "userservice"]
	path = userservice
	url = https://github.com/flightlogteam/userservice
[submodule "flightlog-frontend"]
	path = flightlog-frontend
	url = https://github.com/flightlogteam/flightlog-frontend
[submodule "flightlog-flights"]
	path = flightlog-flights
	url = git@github.com:flightlogteam/flightlog-flights.git
